<configuration>

  <appender name="journal" class="org.gnieh.logback.SystemdJournalAppender">
    <logLocation>false</logLocation>
    <logException>false</logException>
    <logThreadName>true</logThreadName>
  </appender>

  <root level="debug">
    <appender-ref ref="journal" />
  </root>
</configuration>